Copyright 2020 Matthias Anderer

Copyright for aggregation code snippets 2020 by user: https://www.kaggle.com/lebroschar (name unknown)

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

# Overall approach

We have two different inputs: 

1) Bottom level forecasts on item level (30490 signal) that are derived from a lgbm model that models a probability of this item being bought based on datatime features, price features and a few other features that are not time dependent. (Credits: https://www.kaggle.com/kyakovlev/m5-simple-fe)
2) Top level forecasts for the levels 1-5 that are created with N-Beats. 

We can now aggregate the bottom level "probabilit draws" up to the levels 1-5. By comparing/aligning the possible results we can select the most suitable probability distribution for the forecast period. ( The multiplier in the custom loss of the bottom level lgbm models seems to help adjust for trend or other effects not fully understood yet)

### Overall analysis result: 

The multiplier 0.95 seems to represent the lowest available fit so we build an ensemble with the 2 upper and 2 lower distributions to generate a robust test loss.
<br><br>
Final-11: 0.9 <br>
Final-12: 0.93 <br>
Final-17: 0.95 <br>
Final-13: 0.97 <br>
Final-16: 0.99

In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import warnings
warnings.simplefilter(action='ignore')

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import seaborn as sns

## Load NBEATS reference predictions for global alignment

NBeats predictions trained and predicted on Colab with two different settings (only change in setting is num_epochs to get slightly different ensembles)

In [67]:
# nbeats_pred01_df = pd.read_csv('../input/m5alignnbeatsv01/nbeats_toplvl_forecasts1.csv')
# nbeats_pred02_df = pd.read_csv('../input/m5alignnbeatsv02/nbeats_toplvl_forecasts2.csv')

# Note: F1-F28 in indata.csv and outofdata.csv correspond to d1914-1941 and d1942-d1969, respectively. 
nbeats_pred01_df = pd.read_csv('./input/upper_out/nbeats_toplvl_forecasts2_outofdata.csv')
nbeats_pred01_df.head()

,id_str,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,all,41036.144531,37960.230469,36757.847656,36110.585938,40397.902344,49468.214844,50727.144531,39848.457031,38983.117188,...,45233.316406,53769.957031,55817.785156,43048.179688,39788.171875,38896.398438,39141.839844,43358.464844,51671.742188,53691.941406
1,CA,18014.326172,16338.359375,15914.831055,15591.859375,17406.675781,21632.677734,23304.962891,17722.083984,16970.626953,...,18163.107422,22255.035156,23753.103516,17960.953125,16125.870117,15596.844727,15884.791016,18092.335938,22028.152344,23498.333984
2,TX,11617.654297,10666.777344,10315.926758,10174.016602,11086.233398,13096.458984,13611.070312,11174.203125,10421.341797,...,11971.084961,13904.358398,14705.506836,12091.745117,10904.867188,10621.853516,10745.370117,11500.922852,13341.435547,14179.342773
3,WI,11686.342773,10963.235352,10405.642578,10602.512695,12453.588867,14823.274414,14002.179688,11132.737305,11228.587891,...,14449.547852,17859.019531,17442.394531,13444.646484,12793.322266,13252.936523,12608.693359,13733.206055,16089.298828,15243.477539
4,CA_1,4559.857910,4155.916992,4010.812988,3961.010742,4460.675781,5629.976562,6036.051270,4466.053223,4256.944336,...,4762.981445,5849.047852,6272.529785,4516.801758,4153.164062,4021.528320,4084.951172,4757.710449,5889.531738,6298.970215

## Load bottom level lgb predictions for alignment

In [29]:
# BUILD_ENSEMBLE = True
BUILD_ENSEMBLE = False # I just wanna see sample output

In [30]:
if BUILD_ENSEMBLE:
    
    pred_01_df = pd.read_csv('../input/m5-final-13/submission_v1.csv')
    pred_02_df = pd.read_csv('../input/fork-of-m5-final-11/submission_v1.csv')
    pred_03_df = pd.read_csv('../input/m5-final-12/submission_v1.csv')
    pred_04_df = pd.read_csv('../input/m5-final-17/submission_v1.csv')
    pred_05_df = pd.read_csv('../input/m5-final-16/submission_v1.csv')
    #pred_06_df = pd.read_csv('..')

    avg_pred = ( np.array(pred_01_df.values[:,1:]) 
                + np.array(pred_02_df.values[:,1:]) 
                + np.array(pred_03_df.values[:,1:])
                + np.array(pred_04_df.values[:,1:])  
                + np.array(pred_05_df.values[:,1:])  
               # + np.array(pred_06_df.values[:,1:])  
               ) /5.0
    
    ## Loading predictions
    valid_pred_df = pd.DataFrame(avg_pred, columns=pred_01_df.columns[1:])
    submission_pred_df = pd.concat([pred_01_df['id'],valid_pred_df],axis=1)
    
else:
    print('Should not submit single distibution')
    #submission_pred_df = pd.read_csv('../input/m5-final-13/submission_v1.csv')
    submission_pred_df = pd.read_csv('input/bottom_out/submission_v1.csv')

Should not submit single distibution

In [31]:
submission_pred_df

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,HOBBIES_1_002_CA_1_validation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,HOBBIES_1_003_CA_1_validation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,HOBBIES_1_004_CA_1_validation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,HOBBIES_1_005_CA_1_validation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0.201094,0.143796,0.124260,0.099562,0.168245,0.314227,0.297308,0.152335,0.143491,...,0.215312,0.408708,0.476055,0.260853,0.243920,0.286225,0.179313,0.206506,0.348027,0.333052
60976,FOODS_3_824_WI_3_evaluation,0.144250,0.065468,0.045932,0.021234,0.074267,0.206200,0.194997,0.519547,0.065163,...,0.109414,0.409556,0.471000,0.175172,0.259158,0.306030,0.089065,0.108346,0.235818,0.224797
60977,FOODS_3_825_WI_3_evaluation,0.799411,0.742113,0.722577,0.696095,0.749129,0.839844,0.828641,0.678052,0.740024,...,0.930880,1.239176,1.278632,0.996482,1.077524,1.094285,0.870279,0.848850,0.960285,0.945454
60978,FOODS_3_826_WI_3_evaluation,1.022139,0.964841,0.945306,0.920607,0.874500,1.169567,1.028474,1.064088,0.964536,...,0.894506,1.180875,1.217752,1.063541,1.085945,1.121424,0.994582,0.914723,1.193525,1.379877
60979,FOODS_3_827_WI_3_evaluation,1.995734,1.889207,1.638514,1.576312,1.818948,1.960313,1.759962,2.984347,1.835761,...,1.605662,1.749138,1.873151,1.723564,1.740984,1.744180,1.583859,1.757659,1.882758,2.081942

## Fill validation rows - we have no info about validation scoring

Even though it would not make sense at all to score public validation data it might be safest to set the submission validation values to the ground truth....

Spamming the LB a bit more ...

In [33]:
# fill the submission_pred_df on those records with "_validation" with ground truth! (come from d1914-d1941 of sales_train_evaluation.csv)
# Note: sales_train_validation.csv is (30490, d1~d1913) and sales_train_evaluation.csv is (30490, d1914~d1941)
# validation -> evaluation
validation_gt_data = pd.read_csv('input/data/sales_train_evaluation.csv')
print("Oriignal sales_train_evaluation.csv:")
display(validation_gt_data)
validation_gt_data['id'] = validation_gt_data['id'].str.replace('_evaluation','_validation')
validation_gt_data = validation_gt_data.drop(['item_id','dept_id','cat_id','store_id','state_id'],axis=1)
validation_gt_data = pd.concat([validation_gt_data[['id']],validation_gt_data.iloc[:,-28:]],axis=1)
# validation_gt_data.columns=submission_pred_df.columns.values
print("Final look of the variable validation_gt_data:")
validation_gt_data

Oriignal sales_train_evaluation.csv:

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

Final look of the variable validation_gt_data:

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_validation,0,0,0,2,0,3,5,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_validation,0,1,0,0,0,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,1,1,0,2,1,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_validation,0,0,1,2,4,1,6,4,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_validation,1,0,2,3,1,0,3,2,3,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,0,0,0,2,2,0,0,0,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_validation,0,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_validation,0,0,1,1,0,2,1,1,0,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_validation,1,3,0,1,2,1,0,2,1,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_validation,0,0,0,0,0,1,1,1,2,...,1,2,0,5,4,0,2,2,5,1

In [49]:
# continue from previous cell, so d1913-d1941 of validation can actually be seen as the next 28 days prediction period of a model trained on 
# sales_train_validation.csv (d1~d1913). 

# convert d1914-d1941 name to F1-F28 
d2f = { f"d_{1913+i}" : f"F{i}" for i in range(1, 28+1)}
validation_gt_data = validation_gt_data.rename(columns=d2f)

# replace 1st half in submission_pred_df 
submission_pred_df = pd.concat([validation_gt_data, submission_pred_df.iloc[30490:,:]],axis=0).reset_index(drop=True)
submission_pred_df

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.000000,0.000000,0.000000,2.000000,0.000000,3.000000,5.000000,0.000000,0.000000,...,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,0.000000,1.000000
1,HOBBIES_1_002_CA_1_validation,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,HOBBIES_1_003_CA_1_validation,0.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,1.000000
3,HOBBIES_1_004_CA_1_validation,0.000000,0.000000,1.000000,2.000000,4.000000,1.000000,6.000000,4.000000,0.000000,...,1.000000,1.000000,0.000000,4.000000,0.000000,1.000000,3.000000,0.000000,2.000000,6.000000
4,HOBBIES_1_005_CA_1_validation,1.000000,0.000000,2.000000,3.000000,1.000000,0.000000,3.000000,2.000000,3.000000,...,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,2.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0.201094,0.143796,0.124260,0.099562,0.168245,0.314227,0.297308,0.152335,0.143491,...,0.215312,0.408708,0.476055,0.260853,0.243920,0.286225,0.179313,0.206506,0.348027,0.333052
60976,FOODS_3_824_WI_3_evaluation,0.144250,0.065468,0.045932,0.021234,0.074267,0.206200,0.194997,0.519547,0.065163,...,0.109414,0.409556,0.471000,0.175172,0.259158,0.306030,0.089065,0.108346,0.235818,0.224797
60977,FOODS_3_825_WI_3_evaluation,0.799411,0.742113,0.722577,0.696095,0.749129,0.839844,0.828641,0.678052,0.740024,...,0.930880,1.239176,1.278632,0.996482,1.077524,1.094285,0.870279,0.848850,0.960285,0.945454
60978,FOODS_3_826_WI_3_evaluation,1.022139,0.964841,0.945306,0.920607,0.874500,1.169567,1.028474,1.064088,0.964536,...,0.894506,1.180875,1.217752,1.063541,1.085945,1.121424,0.994582,0.914723,1.193525,1.379877
60979,FOODS_3_827_WI_3_evaluation,1.995734,1.889207,1.638514,1.576312,1.818948,1.960313,1.759962,2.984347,1.835761,...,1.605662,1.749138,1.873151,1.723564,1.740984,1.744180,1.583859,1.757659,1.882758,2.081942

## Only work on evaluation forecasts

In [50]:
bottom_lvl_pred_df = submission_pred_df.iloc[30490:,:].reset_index(drop=True)
bottom_lvl_pred_df

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_evaluation,0.753042,0.688188,0.688751,0.686679,0.768146,0.916658,0.874288,0.901520,0.744240,...,0.826474,0.927827,0.892749,0.766914,0.726412,0.720585,0.724602,0.799029,0.944285,0.716593
1,HOBBIES_1_002_CA_1_evaluation,0.258061,0.179185,0.179749,0.177677,0.265720,0.410616,0.366975,0.287745,0.235237,...,0.313481,0.411217,0.374869,0.268727,0.216486,0.210659,0.214676,0.296547,0.438186,0.371699
2,HOBBIES_1_003_CA_1_evaluation,0.380282,0.306656,0.300634,0.298563,0.386606,0.524676,0.481036,0.410726,0.363467,...,0.435126,0.526038,0.489690,0.391707,0.344716,0.332305,0.336321,0.418192,0.553006,0.486519
3,HOBBIES_1_004_CA_1_evaluation,1.576726,1.512710,1.513273,1.556411,1.859568,2.880035,3.226641,1.765071,1.568762,...,1.872590,2.845898,3.199796,1.546131,1.505628,1.499801,1.549028,1.846013,2.863223,2.817502
4,HOBBIES_1_005_CA_1_evaluation,1.019091,0.945465,0.946028,0.943957,1.054895,1.357839,1.305729,1.071401,1.002277,...,1.044939,1.300725,1.344590,1.057527,1.010536,1.004709,1.008726,1.112624,1.412312,1.343253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,0.201094,0.143796,0.124260,0.099562,0.168245,0.314227,0.297308,0.152335,0.143491,...,0.215312,0.408708,0.476055,0.260853,0.243920,0.286225,0.179313,0.206506,0.348027,0.333052
30486,FOODS_3_824_WI_3_evaluation,0.144250,0.065468,0.045932,0.021234,0.074267,0.206200,0.194997,0.519547,0.065163,...,0.109414,0.409556,0.471000,0.175172,0.259158,0.306030,0.089065,0.108346,0.235818,0.224797
30487,FOODS_3_825_WI_3_evaluation,0.799411,0.742113,0.722577,0.696095,0.749129,0.839844,0.828641,0.678052,0.740024,...,0.930880,1.239176,1.278632,0.996482,1.077524,1.094285,0.870279,0.848850,0.960285,0.945454
30488,FOODS_3_826_WI_3_evaluation,1.022139,0.964841,0.945306,0.920607,0.874500,1.169567,1.028474,1.064088,0.964536,...,0.894506,1.180875,1.217752,1.063541,1.085945,1.121424,0.994582,0.914723,1.193525,1.379877
30489,FOODS_3_827_WI_3_evaluation,1.995734,1.889207,1.638514,1.576312,1.818948,1.960313,1.759962,2.984347,1.835761,...,1.605662,1.749138,1.873151,1.723564,1.740984,1.744180,1.583859,1.757659,1.882758,2.081942

## Reconstruct level descriptions for aggregation

In [51]:
name_cols = bottom_lvl_pred_df.id.str.split(pat='_',expand=True)
name_cols['dept_id']=name_cols[0]+'_'+name_cols[1]
name_cols['store_id']=name_cols[3]+'_'+name_cols[4]
name_cols = name_cols.rename(columns={0: "cat_id", 3: "state_id"})
name_cols = name_cols.drop([1,2,4,5],axis=1)
bottom_lvl_pred_df = pd.concat([name_cols,bottom_lvl_pred_df],axis=1)

In [53]:
bottom_lvl_pred_df

,cat_id,state_id,dept_id,store_id,id,F1,F2,F3,F4,F5,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES,CA,HOBBIES_1,CA_1,HOBBIES_1_001_CA_1_evaluation,0.753042,0.688188,0.688751,0.686679,0.768146,...,0.826474,0.927827,0.892749,0.766914,0.726412,0.720585,0.724602,0.799029,0.944285,0.716593
1,HOBBIES,CA,HOBBIES_1,CA_1,HOBBIES_1_002_CA_1_evaluation,0.258061,0.179185,0.179749,0.177677,0.265720,...,0.313481,0.411217,0.374869,0.268727,0.216486,0.210659,0.214676,0.296547,0.438186,0.371699
2,HOBBIES,CA,HOBBIES_1,CA_1,HOBBIES_1_003_CA_1_evaluation,0.380282,0.306656,0.300634,0.298563,0.386606,...,0.435126,0.526038,0.489690,0.391707,0.344716,0.332305,0.336321,0.418192,0.553006,0.486519
3,HOBBIES,CA,HOBBIES_1,CA_1,HOBBIES_1_004_CA_1_evaluation,1.576726,1.512710,1.513273,1.556411,1.859568,...,1.872590,2.845898,3.199796,1.546131,1.505628,1.499801,1.549028,1.846013,2.863223,2.817502
4,HOBBIES,CA,HOBBIES_1,CA_1,HOBBIES_1_005_CA_1_evaluation,1.019091,0.945465,0.946028,0.943957,1.054895,...,1.044939,1.300725,1.344590,1.057527,1.010536,1.004709,1.008726,1.112624,1.412312,1.343253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS,WI,FOODS_3,WI_3,FOODS_3_823_WI_3_evaluation,0.201094,0.143796,0.124260,0.099562,0.168245,...,0.215312,0.408708,0.476055,0.260853,0.243920,0.286225,0.179313,0.206506,0.348027,0.333052
30486,FOODS,WI,FOODS_3,WI_3,FOODS_3_824_WI_3_evaluation,0.144250,0.065468,0.045932,0.021234,0.074267,...,0.109414,0.409556,0.471000,0.175172,0.259158,0.306030,0.089065,0.108346,0.235818,0.224797
30487,FOODS,WI,FOODS_3,WI_3,FOODS_3_825_WI_3_evaluation,0.799411,0.742113,0.722577,0.696095,0.749129,...,0.930880,1.239176,1.278632,0.996482,1.077524,1.094285,0.870279,0.848850,0.960285,0.945454
30488,FOODS,WI,FOODS_3,WI_3,FOODS_3_826_WI_3_evaluation,1.022139,0.964841,0.945306,0.920607,0.874500,...,0.894506,1.180875,1.217752,1.063541,1.085945,1.121424,0.994582,0.914723,1.193525,1.379877
30489,FOODS,WI,FOODS_3,WI_3,FOODS_3_827_WI_3_evaluation,1.995734,1.889207,1.638514,1.576312,1.818948,...,1.605662,1.749138,1.873151,1.723564,1.740984,1.744180,1.583859,1.757659,1.882758,2.081942

## Build aggregates of predictions

In [54]:
# Get column groups
cat_cols = ['id', 'dept_id', 'cat_id',  'store_id', 'state_id']
ts_cols = [col for col in bottom_lvl_pred_df.columns if col not in cat_cols]
ts_dict = {t: int(t[1:]) for t in ts_cols}

# Describe data
print('  unique forecasts: %i' % bottom_lvl_pred_df.shape[0])
for col in cat_cols:
    print('   N_unique %s: %i' % (col, bottom_lvl_pred_df[col].nunique()))

  unique forecasts: 30490
   N_unique id: 30490
   N_unique dept_id: 7
   N_unique cat_id: 3
   N_unique store_id: 10
   N_unique state_id: 3

In [55]:
# 1. All products, all stores, all states (1 series)
all_sales = pd.DataFrame(bottom_lvl_pred_df[ts_cols].sum()).transpose()
all_sales['id_str'] = 'all'
all_sales = all_sales[ ['id_str'] +  [c for c in all_sales if c not in ['id_str']] ]

In [56]:
# 2. All products by state (3 series)
state_sales = bottom_lvl_pred_df.groupby('state_id',as_index=False)[ts_cols].sum()
state_sales['id_str'] = state_sales['state_id'] 
state_sales = state_sales[ ['id_str'] +  [c for c in state_sales if c not in ['id_str']] ]
state_sales = state_sales.drop(['state_id'],axis=1)

In [57]:
# 3. All products by store (10 series)
store_sales = bottom_lvl_pred_df.groupby('store_id',as_index=False)[ts_cols].sum()
store_sales['id_str'] = store_sales['store_id'] 
store_sales = store_sales[ ['id_str'] +  [c for c in store_sales if c not in ['id_str']] ]
store_sales = store_sales.drop(['store_id'],axis=1)

In [58]:
# 4. All products by category (3 series)
cat_sales = bottom_lvl_pred_df.groupby('cat_id',as_index=False)[ts_cols].sum()
cat_sales['id_str'] = cat_sales['cat_id'] 
cat_sales = cat_sales[ ['id_str'] +  [c for c in cat_sales if c not in ['id_str']] ]
cat_sales = cat_sales.drop(['cat_id'],axis=1)

In [59]:
# 5. All products by department (7 series)
dept_sales = bottom_lvl_pred_df.groupby('dept_id',as_index=False)[ts_cols].sum()
dept_sales['id_str'] = dept_sales['dept_id'] 
dept_sales = dept_sales[ ['id_str'] +  [c for c in dept_sales if c not in ['id_str']] ]
dept_sales = dept_sales.drop(['dept_id'],axis=1)

In [60]:
all_pred_agg = pd.concat([all_sales,state_sales,store_sales,cat_sales,dept_sales],ignore_index=True)

In [62]:
# recall that the aggregation is based only on evaluation part of bottom layer model. 
# so F1-F28 here correspond to d1942-d1969.
all_pred_agg

,id_str,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,all,39828.472059,36540.376882,37137.733704,36667.581249,41318.204859,49280.056347,49654.291092,43621.843919,37285.050549,...,45266.444854,55712.339957,57228.749376,44752.586247,42118.382722,42994.526564,40360.486299,44262.026526,52879.804600,47201.402483
1,CA,17548.755748,15811.876754,15739.178651,15773.952862,17629.952666,21816.693251,22664.429894,20345.439355,16632.132013,...,19406.838213,23727.650605,24733.399760,18776.702128,17381.456862,16920.692014,16955.783968,18929.634122,23659.258225,20409.714171
2,TX,11173.295352,10021.896665,10684.514850,10083.294768,11045.593306,12776.691431,13099.491510,11669.659647,9915.190402,...,11761.379968,14471.631849,15230.467992,13281.220228,10912.635656,11832.927350,10779.773110,11740.196294,13713.166646,12501.972513
3,WI,11106.420959,10706.603463,10714.040203,10810.333618,12642.658887,14686.671665,13890.369688,11606.744917,10737.728134,...,14098.226672,17513.057504,17264.881624,12694.663891,13824.290204,14240.907200,12624.929221,13592.196110,15507.379729,14289.715799
4,CA_1,4370.664946,3772.303468,3776.930158,3774.381892,4497.034109,5534.423627,5723.548963,5067.772430,4131.759889,...,4986.540771,5990.147475,6364.461175,4753.137936,4194.361077,4157.053096,4213.281442,4871.423399,6084.327564,5241.449212
5,CA_2,4213.820543,4024.555245,4079.184238,4146.204961,4896.235826,6587.944826,6471.043476,4853.750712,4064.046529,...,5005.646455,6840.858240,6780.784917,4149.773980,4069.422536,4084.382079,4174.330420,4883.788073,6581.294330,5329.210254
6,CA_3,6083.840211,5362.281845,5303.597894,5283.753585,5545.983212,6771.145744,7453.164239,7314.104169,5640.587327,...,6645.136270,7730.593002,8348.284743,6923.661962,6427.562365,6033.731840,5963.172381,6397.575610,7853.722231,7043.933113
7,CA_4,2880.430048,2652.736196,2579.466362,2569.612425,2690.699518,2923.179054,3016.673216,3109.812044,2795.738269,...,2769.514717,3166.051888,3239.868925,2950.128249,2690.110883,2645.524999,2604.999725,2776.847040,3139.914099,2795.121592
8,TX_1,3257.780362,2985.802554,2934.752034,2942.616022,3180.656992,3806.800656,4108.912144,3385.191837,2843.929462,...,3373.644172,4269.949421,4598.956248,4002.608733,3226.853309,3487.919490,3142.814308,3412.771954,4105.153828,3972.337942
9,TX_2,3898.188136,3340.141837,4128.949554,3536.846278,3912.882785,4526.884978,4357.279680,4057.036814,3367.637464,...,4201.398024,5196.470811,5346.972709,4771.223579,3775.912322,4161.988908,3789.796959,4201.070202,4878.243256,4125.210114
10,TX_3,4017.326854,3695.952274,3620.813263,3603.832468,3952.053528,4443.005798,4633.299686,4227.430997,3703.623476,...,4186.337772,5005.211616,5284.539035,4507.387917,3909.870025,4183.018952,3847.161843,4126.354138,4729.769562,4404.424457
11,WI_1,3292.165083,3178.110105,3278.546253,3344.118165,4066.181707,4887.909308,4574.628651,3664.477085,3161.672920,...,4301.130377,5257.114653,5081.429264,3555.830562,3592.304732,3769.924675,3669.451345,4265.366682,5092.426235,4651.719173
12,WI_2,4405.871897,4300.772620,4234.622842,4269.687751,4755.654574,5246.890603,4944.899225,4296.192105,4318.146614,...,5600.801792,7130.145660,6951.085069,5276.251497,6105.597369,6348.873505,5186.189731,5104.236077,5500.723099,4961.163410
13,WI_3,3408.383979,3227.720738,3200.871109,3196.527702,3820.822605,4551.871754,4370.841812,3646.075727,3257.908600,...,4196.294503,5125.797191,5232.367291,3862.581832,4126.388103,4122.109020,3769.288145,4222.593352,4914.230395,4676.833216
14,FOODS,26544.294040,24244.828605,24618.731579,24227.363362,27155.304649,32191.151063,32884.475786,29061.227236,24357.878949,...,30657.581176,38047.438663,39659.429084,30869.460131,29206.901648,29890.001501,27312.078424,29612.290040,35126.695328,32486.807883
15,HOBBIES,3814.759912,3617.597275,3715.654026,3668.082629,4149.980603,4889.274907,4569.622887,3979.878565,3842.057324,...,4240.188917,4970.347127,4787.696815,3936.116984,3775.097278,3861.247173,3817.858080,4276.126128,5077.663035,4029.413625
16,HOUSEHOLD,9469.418107,8677.951002,8803.348099,8772.135257,10012.919607,12199.630377,12200.192419,10580.738118,9085.114277,...,10368.674761,12694.554167,12781.623477,9947.009131,9136.383796,9243.277890,9230.549796,10373.610358,12675.446236,10685.180975
17,FOODS_1,3071.509949,3046.583810,3152.705057,3152.264582,3533.425075,3966.956236,3717.386186,3377.366372,3052.314249,...,3688.106547,4238.617125,4038.804120,3275.260914,3258.751377,3342.560088,3309.253590,3637.006987,4094.426565,3588.033404
18,FOODS_2,5228.421854,4622.864902,4570.285575,4433.357707,4818.441296,5733.225406,6133.341962,5250.548233,4597.758637,...,5946.171405,7519.776855,8144.876697,6414.931987,6024.489615,6141.496246,5338.120227,5381.093063,6240.861944,5770.880730
19,FOODS_3,18244.362238,16575.379893,16895.740947,16641.741073,18803.438278,22490.969422,23033.747638,20433.312630,16707.806062,...,21023.303224,26289.044683,27475.748267,21179.267231,19923.660656,20405.945167,18664.704607,20594.189991,24791.406819,23127.893750
20,HOBBIES_1,3381.786150,3231.503512,3307.586214,3273.265015,3710.254968,4390.916791,4123.517876,3550.926836,3426.987457,...,3798.400564,4483.689587,4300.928616,3495.164563,3371.222234,3436.353933,3407.252397,3824.372318,4558.390338,3672.524869
21,HOBBIES_2,432.973762,386.093763,408.067812,394.817614,439.725635,498.358116,446.105011,428.951729,415.069867,...,441.788353,486.657541,486.768199,440.952421,403.875044,424.893239,410.605683,451.753810,519.272697,356.888757
22,HOUSEHOLD_1,7424.217497,6813.310368,6903.916488,6862.562200,7820.548436,9589.700140,9612.083181,8228.552866,7161.297369,...,8121.794852,10040.194110,10097.608399,7876.531618,7205.772149,7263.674659,7241.229977,8121.311162,9985.951511,8477.833228
23,HOUSEHOLD_2,2045.200609,1864.640635,1899.431611,1909.573057,2192.371171,2609.930236,2588.109238,2352.185253,1923.816907,...,2246.879909,2654.360057,2684.015078,2070.477513,1930.611646,1979.603231,1989.319819,2252.299196,2689.494726,2207.347746

# Calculating comparision metrics

## Interpretation

If prediction is bigger than "true" values error will be positive -> prediction is overshooting (pos error)

If prediction is smaller than "true" values error will be negative -> prediction is undershooting (neg error)

## NBeats 01

In [69]:
# have a look at our upper prediction df 
nbeats_pred01_df

,id_str,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,all,41036.144531,37960.230469,36757.847656,36110.585938,40397.902344,49468.214844,50727.144531,39848.457031,38983.117188,...,45233.316406,53769.957031,55817.785156,43048.179688,39788.171875,38896.398438,39141.839844,43358.464844,51671.742188,53691.941406
1,CA,18014.326172,16338.359375,15914.831055,15591.859375,17406.675781,21632.677734,23304.962891,17722.083984,16970.626953,...,18163.107422,22255.035156,23753.103516,17960.953125,16125.870117,15596.844727,15884.791016,18092.335938,22028.152344,23498.333984
2,TX,11617.654297,10666.777344,10315.926758,10174.016602,11086.233398,13096.458984,13611.070312,11174.203125,10421.341797,...,11971.084961,13904.358398,14705.506836,12091.745117,10904.867188,10621.853516,10745.370117,11500.922852,13341.435547,14179.342773
3,WI,11686.342773,10963.235352,10405.642578,10602.512695,12453.588867,14823.274414,14002.179688,11132.737305,11228.587891,...,14449.547852,17859.019531,17442.394531,13444.646484,12793.322266,13252.936523,12608.693359,13733.206055,16089.298828,15243.477539
4,CA_1,4559.857910,4155.916992,4010.812988,3961.010742,4460.675781,5629.976562,6036.051270,4466.053223,4256.944336,...,4762.981445,5849.047852,6272.529785,4516.801758,4153.164062,4021.528320,4084.951172,4757.710449,5889.531738,6298.970215
5,CA_2,4150.600586,4021.164551,3972.109131,4091.837402,4862.009277,6599.766602,6519.443848,4289.940430,4199.371582,...,4672.666504,6284.937500,6392.365723,4103.969727,3931.375000,3821.698242,4000.479492,4776.424316,6398.492676,6395.704102
6,CA_3,6339.609375,5750.206543,5538.748535,5356.137207,5600.040039,6679.956055,7537.551270,6171.797852,5838.746582,...,6061.670410,7248.727051,7777.924805,6387.514648,5619.710938,5448.716797,5333.046875,5841.853516,7007.646484,7616.036133
7,CA_4,3049.504639,2740.724365,2588.426270,2543.924805,2653.547852,3019.407959,3210.865479,2932.672852,2708.423096,...,2674.567383,2988.327637,3286.901123,2923.466797,2642.811523,2540.725586,2526.351562,2696.437988,3020.103516,3299.008789
8,TX_1,3407.058838,3136.644531,3071.433594,2944.693848,3387.399170,4062.455566,4236.333984,3274.125488,3077.330078,...,3521.450439,4175.395996,4418.091309,3561.998779,3234.827637,3162.436279,3235.495605,3480.784424,4130.553711,4411.554199
9,TX_2,4097.371094,3754.497803,3610.155273,3613.649170,3872.020264,4574.513672,4783.150879,3899.196289,3649.812744,...,4226.152832,4921.086914,5151.644043,4220.434570,3811.386719,3766.815674,3802.042480,4083.018555,4696.986816,5006.757324
10,TX_3,4097.608887,3814.326660,3666.129150,3614.051758,3833.518555,4355.088867,4576.736816,3989.573242,3788.037842,...,4202.039551,4733.844727,5067.024414,4355.724609,3876.649170,3806.924316,3850.308105,4052.441162,4494.510254,4755.002441
11,WI_1,3430.517822,3273.267578,3350.989990,3279.014404,3920.485352,5097.421387,4807.931641,3400.262451,3445.485107,...,4345.566895,5279.078613,5129.119141,3638.596436,3478.319824,3499.627686,3621.185791,4206.603516,5343.911621,4958.089844
12,WI_2,4469.716797,4314.925781,4044.333496,4009.270996,4625.285645,5233.062988,4839.050781,4345.720215,4554.112793,...,5925.966797,7095.434570,6934.243652,5600.260742,5483.214844,5757.920410,5222.845703,5353.028320,5651.253418,5526.905762
13,WI_3,3553.198730,3339.964844,3073.779053,3075.244141,3723.857666,4494.993164,4296.217285,3315.921387,3308.045654,...,4352.283691,5414.570312,5391.587402,4029.247803,3828.950439,3969.259766,3780.965332,4104.271484,4977.131836,4724.853027
14,FOODS,27726.050781,25236.691406,24418.863281,23804.357422,27179.341797,32624.146484,33944.398438,26365.011719,25713.232422,...,30571.306641,36315.542969,38454.343750,29558.417969,27229.960938,27010.011719,26711.972656,29525.191406,34692.582031,36630.097656
15,HOBBIES,3830.362061,3747.586182,3695.449951,3612.190186,4109.706543,4918.545410,4766.921875,3773.743164,3815.357666,...,4160.782227,4934.910156,4787.374512,3805.623535,3612.655518,3600.039307,3604.023926,4084.655029,4932.649902,4824.687012
16,HOUSEHOLD,9605.647461,8932.234375,8585.814453,8664.296875,9663.666992,11993.659180,12238.940430,9655.225586,9388.251953,...,10280.697266,12372.786133,12374.913086,9544.728516,8747.035156,8674.676758,8794.221680,9971.340820,12340.481445,12518.676758
17,FOODS_1,3223.238770,3105.454590,3151.420654,3143.325195,3641.534424,4147.182617,3754.473145,3018.285645,3156.682373,...,3790.004883,4404.109375,4020.433105,3339.061768,3235.627686,3198.077148,3340.989258,3728.923096,4124.045898,3783.810547
18,FOODS_2,5475.687988,4798.115234,4388.955566,4184.831543,4696.507812,5423.226562,6234.716797,5207.645020,4877.204590,...,6040.610352,7245.710449,8279.300781,6504.605469,5821.762207,5880.580566,5291.909180,5302.959473,6278.118164,6878.950684
19,FOODS_3,18922.951172,17330.843750,16951.716797,16500.937500,18912.330078,22774.201172,23738.849609,18171.601562,17358.298828,...,20208.542969,24724.789062,25909.148438,19743.527344,18379.568359,18068.556641,18140.941406,20064.957031,23910.455078,25321.701172
20,HOBBIES_1,3432.571289,3366.135498,3257.392090,3173.080322,3653.050293,4395.312500,4237.181152,3409.499268,3365.708252,...,3720.876709,4439.591309,4258.765625,3398.398193,3180.401123,3185.538818,3167.036377,3650.118164,4448.643066,4295.095703
21,HOBBIES_2,428.780212,432.950409,444.412903,428.008514,438.685822,475.344910,491.997498,426.652283,430.195801,...,444.317078,475.356689,486.953522,420.953796,408.287201,431.784821,434.486847,439.465057,477.516510,475.153809
22,HOUSEHOLD_1,7603.662598,7036.517090,6720.701660,6761.069336,7587.689941,9412.120117,9533.989258,7630.824219,7430.786133,...,8077.482910,9638.653320,9681.130859,7568.681641,6906.883301,6809.342285,6973.909180,7881.382324,9618.553711,9708.331055
23,HOUSEHOLD_2,2040.869141,1975.099609,1892.400391,1854.198608,2155.060547,2675.235840,2749.910400,2016.169556,1951.146118,...,2219.452881,2740.548340,2750.900635,2035.572266,1885.046387,1863.270508,1914.806763,2197.034180,2689.966553,2751.883057

In [68]:
metrics_df = nbeats_pred01_df[['id_str']]

## Calculate errors
## CAUTION: nbeats_pred_df is "truth"/actual values in this context
## the error is calculated based on d1942-d1969, ie, F1-F28 of evaluation part, ie, the real live testing in private leaderboard. 
error = ( np.array(all_pred_agg.values[:,1:]) - np.array(nbeats_pred01_df.values[:,1:]) ) 

## Calc RMSSE
successive_diff = np.diff(nbeats_pred01_df.values[:,1:]) ** 2
denom = successive_diff.mean(1)

num = error.mean(1)**2
rmsse = num / denom

metrics_df['rmsse'] = rmsse

## Not so clean Pandas action :-) - supressing warnings for now...
metrics_df['mean_error'] = error.mean(1)
metrics_df['mean_abs_error'] = np.absolute(error).mean(1)

squared_error = error **2
mean_squ_err = np.array(squared_error.mean(1), dtype=np.float64) 

metrics_df['rmse'] = np.sqrt( mean_squ_err )

metrics_df

         id_str     rmsse  mean_error mean_abs_error         rmse
0           all   0.02691  893.031989    1795.406497  2261.246505
1            CA  0.062293  667.309805    1041.263605  1235.831042
2            TX  0.009133  121.747196     461.861706   609.657451
3            WI  0.003021   93.052207     504.778303   615.014301
4          CA_1  0.000689   19.899763     210.114854   294.554011
5          CA_2  0.013388  117.607791      207.75358   310.910808
6          CA_3  0.270656  382.350787     515.203234   578.154978
7          CA_4  0.012571   26.772701     111.510199   152.061516
8          TX_1  0.002029  -19.685295     162.321807   195.064025
9          TX_2  0.007868   40.439138     221.375099   300.213046
10         TX_3  0.073658    92.84992     149.783872   186.720027
11         WI_1  0.000004   -1.447076     148.367082   177.541246
12         WI_2  0.030991    94.01876     263.882833   331.439139
13         WI_3  0.000275    9.319058     126.644776   155.347959
14        FOODS  0.022116  545.651285    1254.319117  1583.794634
15      HOBBIES  0.010512   50.670956     139.626411   208.434967
16    HOUSEHOLD   0.02682  226.801502     413.053846   543.721142
17      FOODS_1  0.000416     -7.9083     100.207787   130.056567
18      FOODS_2  0.000087   -6.684722     198.495069   290.252620
19      FOODS_3   0.06637  683.737505    1075.568986  1280.731490
20    HOBBIES_1  0.020474   65.017443     134.568387   180.754749
21    HOBBIES_2  0.128648  -10.972186      24.319741    34.449785
22  HOUSEHOLD_1  0.030829  184.016823     319.919566   403.982710
23  HOUSEHOLD_2  0.002458    16.72966      97.898074   146.106612

## NBeats 02

In [ ]:
metrics_df = nbeats_pred02_df[['id_str']]

## Calculate errors
## CAUTION: nbeats_pred_df is "truth"/actual values in this context
error = ( np.array(all_pred_agg.values[:,1:]) - np.array(nbeats_pred02_df.values[:,1:]) ) 

## Calc RMSSE
successive_diff = np.diff(nbeats_pred01_df.values[:,1:]) ** 2
denom = successive_diff.mean(1)

num = error.mean(1)**2
rmsse = num / denom

metrics_df['rmsse'] = rmsse

## Not so clean Pandas action :-) - supressing warnings for now...
metrics_df['mean_error'] = error.mean(1)
metrics_df['mean_abs_error'] = np.absolute(error).mean(1)

squared_error = error **2
mean_squ_err = np.array(squared_error.mean(1), dtype=np.float64) 

metrics_df['rmse'] = np.sqrt( mean_squ_err )

metrics_df

# Visualizations

### NBeats 01

In [ ]:
for i in range(0,nbeats_pred01_df.shape[0]):
    plot_df = pd.concat( [nbeats_pred01_df.iloc[i], all_pred_agg.iloc[i] ]  , axis=1, ignore_index=True)
    plot_df = plot_df.iloc[1:,]
    plot_df = plot_df.rename(columns={0:'NBeats',1:'Predictions'})
    plot_df = plot_df.reset_index()
    #plot_df
    
    plot_df.plot(x='index', y=['NBeats', 'Predictions'] ,figsize=(10,5), grid=True, title=nbeats_pred02_df.iloc[i,0]  )

## NBeats 02

In [ ]:
for i in range(0,nbeats_pred02_df.shape[0]):
    plot_df = pd.concat( [nbeats_pred02_df.iloc[i], all_pred_agg.iloc[i] ]  , axis=1, ignore_index=True)
    plot_df = plot_df.iloc[1:,]
    plot_df = plot_df.rename(columns={0:'NBeats',1:'Predictions'})
    plot_df = plot_df.reset_index()
    #plot_df
    
    plot_df.plot(x='index', y=['NBeats', 'Predictions'] ,figsize=(10,5), grid=True, title=nbeats_pred02_df.iloc[i,0]  )

# Submit based on above analysis and manual selection/clearance

In [ ]:
submission_pred_df

In [ ]:
submission_pred_df.to_csv('m5-final-submission.csv', index=False)